.wrapper {
  padding: 72px 25px 0 25px;

  @media (max-width: 860px) {
    padding: 40px 25px 0 25px;
  }
}
.app__container {
  position: relative;
}

.slider__wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;

  transition: transform 0.3s ease-in-out;

  gap: 16px;
}

.title-section {
  text-align: center;

  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

.card__block {
  width: 205px;
  height: 236px;

  display: flex;
  padding: 24px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  border: 1px solid $gray_100;

  img {
    max-width: 149px;
    max-height: 149px;
  }

  h1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    margin-top: 16px;
  }

  @media (max-width: 560px) {
    padding: 12px;
    width: 195px;
    height: 220px;
  }
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;

  border-radius: 100px;
  background: $orange_500;

  cursor: pointer;

  border: none;
}

.prev {
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);

  @media (max-width: 560px) {
    left: -20px;
  }
}

.next {
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);

  @media (max-width: 560px) {
    right: -20px;
  }
}
