.newsletter__wrapper {
  padding: 72px 10px;
  background-color: $blue_700;

  @media (max-width: 860px) {
    padding: 40px 10px;
  }
}

.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include headline-text;

  color: $white;
}

.text {
  max-width: 536px;
  width: 100%;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  text-align: center;
  color: $white;
  opacity: 0.7;

  margin-top: 12px;
  margin-bottom: 32px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;

  li {
    opacity: 0.6;

    &:not(:last-child) {
      margin-right: 48px;
    }

    &:hover {
      opacity: 1;
      transition: all 0.3s;

      cursor: pointer;
    }
  }
}

.input__wrapper {
  border-radius: 3px;
  background-color: $white;

  display: flex;
  align-items: center;
  padding: 12px;

  .styles-input {
    border: none;
    padding: 12px 10px;
    width: 303px;
    margin-right: 16px;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    &::placeholder {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    &:focus {
      outline: none;
    }

    @media (max-width: 560px) {
      width: 100%;
    }
  }
}

.line {
  max-width: 400px;
  width: 100%;
  margin-top: 32px;
  height: 1px;
  background-color: $white;
  opacity: 0.6;
}
