// colors

$white: white;
$black: #191c1f;

// red shades
$red_50: #fdeeee;
$red_100: #fcdede;
$red_200: #f8bcbc;
$red_300: #f59b9b;
$red_400: #f17979;
$red_500: #ee5858;
$red_600: #be4646;
$red_700: #8f3535;
$red_800: #5f2323;
$red_900: #301212;

//yellow shades

$yellow_50: #fdfae7;
$yellow_100: #fbf4ce;
$yellow_200: #f7e99e;
$yellow_300: #f3de6d;
$yellow_400: #efd33d;
$yellow_500: #ebc80c;
$yellow_600: #bca00a;
$yellow_700: #8d7807;
$yellow_800: #5e5005;
$yellow_900: #2f2802;

$gray_900: #191c1f;
$gray_500: #77878f;
$gray_400: #929fa5;
$gray_800: #303639;
$gray_300: #adb7bc;
$gray_50: #f2f4f5;
$gray_200: #c9cfd2;
$gray_700: #475156;
$gray_100: #e4e7e9;
$gray_600: #5f6c72;

$orange_500: #fa8232;
$orange_100: #ffe7d6;
$orange_200: #ffcead;

$blue_700: #1b6392;
$blue_500: #2da5f3;
