.blog-section__wrapper {
  padding: 72px 10px;

  background-color: $gray_50;

  @media (max-width: 860px) {
    padding: 40px 10px;
  }
}

.title {
  text-align: center;

  margin-bottom: 40px;
}

.blogs__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px 24px;
}
