.footer__wrapper {
  background-color: $black;
  color: $white;
}

.app__container {
  padding: 72px 10px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1080px) {
    flex-wrap: wrap;
  }

  @media (max-width: 860px) {
    padding: 40px 10px;
  }
}

.logo__block {
  display: flex;
  align-items: center;

  margin-bottom: 24px;
}

.logo-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.64px;

  color: $white;

  margin-left: 8px;
}

.my-contact-info {
  display: flex;
  flex-direction: column;

  max-width: 312px;
  width: 100%;
}

.contacts {
  display: flex;
  flex-direction: column;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  span:nth-child(2n + 1) {
    color: $gray_500;
    font-weight: 400;
  }

  span:nth-child(3) {
    width: 248px;
    margin-bottom: 12px;
  }

  span:nth-child(2) {
    font-size: 18px;

    margin: 2px 0 12px 0;
  }
}

.links__wrapper {
  display: flex;
  gap: 24px;

  @media (max-width: 1080px) {
    gap: 140px;
  }
  @media (max-width: 900px) {
    gap: 20px;
  }

  @media (max-width: 780px) {
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
  }
}

.links__container {
  width: 200px;
}

.header-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin-top: 12px;

  li {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    margin-bottom: 6px;

    list-style: none;

    transition: all 0.3s;

    &:hover {
      padding-left: 24px;

      &::before {
        position: absolute;
        content: "";

        top: 10px;
        left: 0px;

        width: 18px;
        height: 2px;

        background-color: $yellow_500;
      }

      transition: all 0.3s;
    }

    a {
      color: $gray_400;
      text-decoration: none;

      &:hover {
        color: $white;
      }
    }
  }
}

.links__tag {
  width: 312px;

  @media (max-width: 1080px) {
    width: 100%;

    margin-top: 30px;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 8px;

  list-style: none;

  margin-top: 12px;

  li {
    display: flex;
    align-items: center;

    padding: 6px 12px;
    border-radius: 2px;
    border: 1px solid $gray-800;

    a {
      color: $white;
      text-decoration: none;
    }

    &:hover {
      border: 1px solid $white;
      background: $gray-800;
    }
  }
}

.copyright {
  box-shadow: 0px 1px 0px 0px #303639 inset;

  font-weight: 400;
  padding: 24px 10px;

  color: $gray-300;

  display: flex;
  justify-content: center;
}
